<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Title</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
        <div class="box-border flex flex-col items-center">
        <h1 class="mt-2 text-4xl"><a href="/profile">Social Network</a></h1>
        <span>My Social Network</span>
      </div>
    </header>
  </body>
</html>