<%- include('partials/header') -%>
<main>
    <section class="m-1 flex justify-center">
        <a href="/login"><button type="button" class="btn">Login</button></a>
        <a href="/signup"><button type="button" class="btn">Signup</button></a>
    </section>
</main>
<%- include('partials/footer') -%>